<h1>Perfil Profesional</h1>
<p>
  Soy Ingeniero de Sistemas de la universidad EAN, especialista en seguridad de la información con énfasis en seguridad en desarrollo, mis fortalezas principales son la constancia y responsabilidad para desarrollar e implementar soluciones a través de sistemas de información.  Mi habilidad dentro de mi profesión  es el dinamismo  en la búsqueda y construcción de óptimas soluciones a un problema dado.
</p>
<p>
  Poseo habilidad en el liderazgo y gestión de proyectos de SCRUM y RUP, así como la presentación de propuestas, estimación de tiempos, todo esto argumentado en la experiencia de más de 14 años en equipos de programación en la cual mostré mi capacidad de adaptación a diferentes situaciones de trabajo.
</p>
<p>
  Me he desempeñado en varios ambientes técnicos de programación con buen dominio de C#, Visual Basic .NET, ASP.NET, .NET CORE, ASP, PHP, XML,XAML, JavaScript, HTML5, CSS3, MVC, C++, BootStrap, manejo de todos los IDE de Visual Studio .Net, así como Unity3d, RV y RA, realizando proyectos para Windows, Mobile y Web, manejo de bases de datos MySql, Postgrest, SQLServer, Oracle, IBM DB2, Teradata, NoSql MongoDB, construcción de arquitecturas empresariales y de desarrollo orientada al dominio y a pruebas.
</p>
<p>
  Tengo conocimiento en administración de empresas, gerencia de proyectos, he liderado multiplex proyectos de desarrollo, en los cuales he tenido grupos de trabajo a mi cargo tanto personal interno como OutSorcing. Me encuentro en capacidad de desempeñarme con alto profesionalismo, generando un ambiente de trabajo acorde con los requerimientos de las exigencias de empresas de alto nivel.
  Tengo gran conocimiento en orquestación de servicios en BPM, implementación de flujos de trabajos, BPMN, metodología orientada transformar procesos empresariales a arquitectura SOA.
  He realizado trabajos de manera independiente en modalidad FreeLance y trabajo en modalidad teletrabajo.
</p>
